In [5]:
import os
import ast
import pickle
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer

from sklearn.metrics.pairwise import cosine_similarity

ModuleNotFoundError: No module named 'sklearn'

In [4]:
movies = pd.read_csv('top10K-TMDB-movies.csv')

In [ ]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [3]:
movies.shape

(10000, 9)

In [4]:
movies['release_date'] = pd.to_datetime(movies['release_date'])

In [5]:
movies['release_date'] = movies['release_date'].dt.strftime('%Y')

In [6]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974,8.6,9811

In [7]:
movies = movies[['id','title','overview','genre','original_language','release_date']]

In [8]:
movies.head(2)

,id,title,overview,genre,original_language,release_date
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",en,1994
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance",hi,1995

In [9]:
movies = movies.dropna().reset_index(inplace=False).drop(['index'], axis = 1)

In [10]:
movies.shape

(9985, 6)

In [11]:
df = pd.DataFrame()
df['tags'] = movies['release_date']+movies['title']+movies['overview']+movies['genre']+movies['original_language']
df['id'] = movies['id']
df['title'] = movies['title']
df['release_date'] = movies['release_date']
df

,tags,id,title,release_date
0,1994The Shawshank RedemptionFramed in the 1940...,278,The Shawshank Redemption,1994
1,"1995Dilwale Dulhania Le JayengeRaj is a rich, ...",19404,Dilwale Dulhania Le Jayenge,1995
2,1972The GodfatherSpanning the years 1945 to 19...,238,The Godfather,1972
3,1993Schindler's ListThe true story of how busi...,424,Schindler's List,1993
4,1974The Godfather: Part IIIn the continuing sa...,240,The Godfather: Part II,1974
...,...,...,...,...
9980,2010The Last AirbenderThe story follows the ad...,10196,The Last Airbender,2010
9981,2015Sharknado 3: Oh Hell No!The sharks take bi...,331446,Sharknado 3: Oh Hell No!,2015
9982,"1990Captain AmericaDuring World War II, a brav...",13995,Captain America,1990
9983,2007In the Name of the King: A Dungeon Siege T...,2312,In the Name of the King: A Dungeon Siege Tale,2007
9984,2019DominoSeeking justice for his partner’s mu...,455957,Domino,2019

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
cv1 = CountVectorizer(max_features=5000,stop_words='english')
cv2 = CountVectorizer(max_features=5000,stop_words='english')

In [13]:
vector1 = cv1.fit_transform(df['tags']).toarray()
vector2 = cv2.fit_transform(df['release_date']).toarray()

In [14]:
vector1.shape

(9985, 5000)

In [15]:
vector2.shape

(9985, 109)

In [16]:
similarity1 = cosine_similarity(vector1)
similarity2 = cosine_similarity(vector2)

In [17]:
similarity1

array([[1.        , 0.06350006, 0.09375   , ..., 0.08087458, 0.07372098,
        0.07715167],
       [0.06350006, 1.        , 0.0952501 , ..., 0.        , 0.        ,
        0.        ],
       [0.09375   , 0.0952501 , 1.        , ..., 0.02695819, 0.03686049,
        0.03857584],
       ...,
       [0.08087458, 0.        , 0.02695819, ..., 1.        , 0.03179815,
        0.03327792],
       [0.07372098, 0.        , 0.03686049, ..., 0.03179815, 1.        ,
        0.04550158],
       [0.07715167, 0.        , 0.03857584, ..., 0.03327792, 0.04550158,
        1.        ]])

In [18]:
similarity2

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [19]:
df[df['release_date'] == '2012'].index[0]

105

In [20]:
def recommend_title(df,movie):
    index=[]
    index = df[df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity1[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies.iloc[i[0]].title,'(',movies.iloc[i[0]].release_date,')')

In [21]:
def recommend_year(df,release_date):
    index=[]
    index = df[df['release_date'] == release_date].index[0]
    distances = sorted(list(enumerate(similarity2[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies.iloc[i[0]].title,'(',movies.iloc[i[0]].release_date,')')

In [22]:
recommend_title(df,'Gandhi')

A Passage to India ( 1984 )
Queen of the Desert ( 2015 )
Viceroy's House ( 2017 )
Jobs ( 2013 )
Female Agents ( 2008 )

In [23]:
recommend_year(df,'2000')

Gladiator ( 2000 )
Memento ( 2000 )
In the Mood for Love ( 2000 )
Requiem for a Dream ( 2000 )
Yi Yi ( 2000 )

In [50]:
import pickle

In [1]:
df.head()

NameError: name 'df' is not defined

In [52]:
pickle.dump(df,open('pickle_file/movie_list.pkl','wb'))
pickle.dump(similarity1,open('pickle_file/similarity1.pkl','wb'))
pickle.dump(similarity2,open('pickle_file/similarity2.pkl','wb'))